.form {
  display: flex;
  align-items: center;
}

.form button {
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0.25rem;
}

.form button:hover:not(:disabled),
.form button:active:not(:disabled) {
  background-color: #8a2b06;
  color: white;
}

.form button:disabled {
  border: 1px solid #605653;
  color: #605653;
  cursor: auto;
}
